astropy
ipdb
numpy
pandas
python-dateutil
rasterio
scipy
scikit-learn
setuptools
tqdm
pyproj
openeo
geopandas
snap-graph @ git+https://github.com/DHI-GRAS/snap-graph
creodias-finder @ git+https://github.com/DHI-GRAS/creodias-finder
